.app3 {
  position: relative
}

.box {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #f5a599;
  top: 50%;
  transform: translateY(-50%);
  left: 150px;
  transition: 0.5s ease-in
}

.box.new {
  left: 380px
}